$win-lg = 1170px
$win-md = 960px
$win-sm = 640px

$font-family = "Segoe UI", "Lucida Grande", Helvetica, Arial, "Microsoft YaHei", FreeSans, Arimo, "Droid Sans","wenquanyi micro hei","Hiragino Sans GB", "Hiragino Sans GB W3", Arial, sans-serif
$init-font-size = 62.5%
$base-font-size = 1.4rem

$aqua    = #7FDBFF
$blue    = #0074D9
$navy    = #001F3F
$teal    = #39CCCC
$green   = #2ECC40
$olive   = #3D9970
$lime    = #01FF70
$yellow  = #FFDC00
$orange  = #FF851B
$red     = #FF4136
$fuchsia = #F012BE
$purple  = #B10DC9
$maroon  = #85144B
$white   = #ffffff
$silver  = #dddddd
$gray    = #aaaaaa
$black   = #111111

$link-color = $blue
$link-hover-color = $aqua

/*padding size*/
$padding-v-sm = .6em
$padding-h-sm = .8em

$padding-v = .5em
$padding-h = 1em

$padding-v-lg = .8em
$padding-h-lg = 1.2em
/*padding size end*/

/*font size*/
$input-font-size = 1.4rem
/*font size end*/

/*button start*/
$btn-default-color = $black + 20%
$btn-default-bg = $gray + 50%
$btn-default-hover-bg = $gray

$btn-warning-color = $white
$btn-warning-bg = $orange + 20%
$btn-warning-hover-bg = $orange

$btn-danger-color = $white
$btn-danger-bg = $red
$btn-danger-hover-bg = $red - 20%

$btn-info-color = $white
$btn-info-bg = $blue
$btn-info-hover-bg = $blue - 20%

$btn-success-color = $white
$btn-success-bg = $green
$btn-success-hover-bg = $green - 20%
/*button end*/

/*form start*/
$input-text-color = #555
/*form end*/
