$win-lg = 1170px
$win-md = 960px
$win-sm = 640px

$aqua =    #7FDBFF
$blue =    #0074D9
$navy =    #001F3F
$teal =    #39CCCC
$green =   #2ECC40
$olive =   #3D9970
$lime =    #01FF70
$yellow =  #FFDC00
$orange =  #FF851B
$red =     #FF4136
$fuchsia = #F012BE
$purple =  #B10DC9
$maroon =  #85144B
$white =   #ffffff
$silver =  #dddddd
$gray =    #aaaaaa
$black =   #111111

$link-color = $blue
$link-hover-color = $aqua

$btn-default-color = $black + 20%
$btn-default-bg = $gray + 50%
$btn-default-hover-bg = $gray

$btn-warning-color = $white
$btn-warning-bg = $orange
$btn-warning-hover-bg = hue($orange, 20deg)

$btn-danger-color = $white
$btn-danger-bg = $red
$btn-danger-hover-bg = $red - 20%
