.clearfix, [clearfix]
  clearfix()

.overflow, [overflow]
  overflow: hidden

.pull-left, [left]
  float: left !important

.pull-right, [right]
  float: right !important

.hidden, [hidden]
  display: none !important

.text-overflow, [text-overflow]
  textoverflow()

for $type in left right center
  .text-{$type}, [text-{$type}]
    text-align: $type
