.clearfix, [clearfix]
  clearfix()

.overflow, [overflow]
  overflow: hidden

.pull-left, [left]
  float: left !important

.pull-right, [right]
  float: right !important

.hidden, [hidden]
  display: none !important

.text-overflow, [text-overflow]
  textoverflow()

.text-left, [text-left]
  text-align: left

.text-right, [text-right]
  text-align: right

.text-center, [text-center]
  text-align: center
