.clearfix
  clearfix()

.pull-left
  float: left !important

.pull-right
  float: right !important

.hidden
  display: none !important

[hidden]
  @extend .hidden

.text-overflow
  textoverflow()

.text-left
  text-align: left

.text-right
  text-align: right

.text-center
  text-align: center
