*
  box-sizing: border-box

html
  font-family: "Segoe UI", "Lucida Grande", Helvetica, Arial, "Microsoft YaHei", FreeSans, Arimo, "Droid Sans","wenquanyi micro hei","Hiragino Sans GB", "Hiragino Sans GB W3", Arial, sans-serif
  font-size: 62.5%

body
  font-size: 1.4rem

a
  color: $link-color
  text-decoration: none
  &:hover
    color: $link-hover-color
    text-decoration: underline
