.wok-row
  //setside(padding, 1em)
  //clearfix()
  [class^="wok-col"]
    float: left
    position: relative
    min-height: 1px
 
$counts = one two three four five six
for $count, $i in $counts
  .wok-row.wok-{$count}
    .wok-col
      width: (100 / ($i + 1)) + '%'

for $i in 1..12
  $temp = 100 * ($i / 12)
  .wok-col-{$i}
    width: $temp + '%'
