.wok-row
  setside(padding, 1em)
  clearfix()
  [class^="wok-col"]
    float: left
 
.wok-one.wok-row
  .wok-col
    width: 100%

.wok-two.wok-row
  .wok-col
    width: 50%

.wok-three.wok-row
  .wok-col
    width: 33.3333%

.wok-four.wok-row
  .wok-col
    width: 25%

.wok-five.wok-row
  .wok-col
    width: 20%

for $i in 1..12
  $temp = 100 / 12 * $i
  .wok-col-{$i}
    width: $temp + '%'
