.wok-list-unstyled, [wok-list=unstyled]
  list-style: none
  padding-left: 0

.wok-list-inline, [wok-list=inline]
  display: inline-block
  margin-top: 0
  margin-bottom: 0
  padding-left: 0
  list-style: none
  vertical-align: top
  clearfix()
  li
    float: left
    padding-left: .4em
    padding-right: .4em
