
$colors = 'navy' 'blue' 'aqua' 'teal' 'olive' 'green' 'lime' 'yellow' 'orange' 'red' 'fuchasia' 'maroon' 'purple' 'maroon' 'white' 'gray' 'silver' 'black'

for $c in $colors
  .bg-{$c}
    background-color lookup($c)
  .{$c}
    color lookup($c)
  border-{$c}
    border-color lookup($c)
  fill-{$c}
    fill lookup($c)
  stroke-{$c}
    stroke lookup($c)
